{{ .name }}
-------------------------------------------------------------------------------
{{ .desc }}

----<< Players >>--------------------------------------------------------------
{{- range .players}}
{{.name}}
{{- end}}
----<< Exits >>----------------------------------------------------------------
{{- range .links }} 
{{.name}} <{{.cmd}}> 
{{- end}}